header {
  text-align: center;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, blue, red);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  margin: 0;
}

.filter{
    height: 100%;
    width: 100%;

}



.favorite-section,
.list-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frame {
  color: black;
  width: 350px;
  height: 350px;
  border: 8px gold solid;
  border-radius: 10px;
}

.frame-box {
  height: 100%;
  overflow: hidden;
}

.frame-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-container {
  width: 350px;
  height: 500px;
  border: 5px gold solid;
  border-radius: 10px;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:linear-gradient(120deg, white, rgb(180, 179, 179));
}

.inside-list {
  height: 400px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}

.inside-list ol li,
.inside-list ul li {
  margin-bottom: 50px;
}

.table-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.table-container {
    color: black;
  border: 5px gold solid;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  table-layout: fixed;
  background:linear-gradient(120deg, white, rgb(180, 179, 179));
}

.table-container th{
    background-color: yellow;
}

.table-container td {
  word-wrap: break-word;
  background-color: rgba(255, 255, 0, 0.781);
  transition: all ease-in-out 0.2s;
}

.table-container td:hover{
    transform: scale(1.3);
    border: 2px rgb(255, 200, 0) solid;
    border-radius: 10px;
}
